{{#each this}}
    <li class="media media_spaced">
        <div class="media-img">
            <img src="{{posters.detailed}}" alt="{{title}}"/>
        </div>
        <div class="media-bd">
            <div class="movie">
                <div class="movie-hd">
                    <h2 class="hdg hdg_2">{{title}}</h2>
                </div>
                <div class="movie-meta">
                    <ul class="hList hList_spaced">
                        <li><span class="ratings mix-ratings_{{removeSpaces ratings.criticsRating}}">{{ratings.criticsScore}} - {{ratings.criticsRating}}</span></li>
                        <li><span class="ratings mix-ratings_{{removeSpaces ratings.audienceRating}}">{{ratings.audienceScore}} - {{ratings.audienceRating}}</span></li>
                        <li><span class="text text_label">{{mpaaRating}}</span></li>
                        <li><span class="text text_label">{{releaseDates.theater}}</span></li>
                        <li><span class="text text_label">{{convertToHHMMSS runtime}}</span></li>
                    </ul>
                </div>
                <div class="movie-bd">
                    <div class="shelf">
                        <p class="text">{{synopsis}}</p>
                    </div>
                    <ul class="">
                        {{#each abridgedCast}}
                            <li><span class="text text_2">{{name}} as {{characters.[0]}}</span></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </li>
{{/each}}
